apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: kube-system
  name: cilium
spec:
  bootstrap: true
  targetNamespace: kube-system
  version: 1.18.4
  chart: cilium
  repo: https://helm.cilium.io/
  valuesContent: |-
    autoDirectNodeRoutes: true
    routingMode: native
    ipv4NativeRoutingCIDR: "10.0.0.0/8"
    kubeProxyReplacement: true
    loadBalancer:
      mode: dsr
      dsrDispatch: opt
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 6443
    l2announcements:
      enabled: true
    localRedirectPolicies:
      enabled: true
    operator:
      prometheus:
        serviceMonitor:
          enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
        ingress:
          enabled: true
          annotations:
            kubernetes.io/ingress.class: traefik
            cert-manager.io/cluster-issuer: "letsencrypt-issuer"
            traefik.ingress.kubernetes.io/router.middlewares: traefik-oauth2-proxy@kubernetescrd
            external-dns.alpha.kubernetes.io/target: 12406f4c-ecab-4674-a0ea-d4fb72f8f8e4.cfargotunnel.com
          hosts:
            - "hubble.axe.al"
          tls:
            - hosts:
                - "hubble.axe.al"
              secretName: "hubble-ingress-cert"
